@import "generales/gral.scss";

/*Estilos Generales*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: $font;
    background-color: $rgb
}

@import "generales/headfoot.scss";
@import "page/index.scss";
@import "page/nosotros.scss";
@import "page/menu.scss";
@import "page/eventos.scss";
@import "page/contacto.scss";
@import "generales/mediaq.scss";



