@import "generales/_gral.scss";

/*Estilos Generales*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: $font;
    background-color: $rgb
}

@import "generales/_headfoot.scss";
@import "page/_index.scss";
@import "page/_nosotros.scss";
@import "page/_menu.scss";
@import "page/_eventos.scss";
@import "page/_contacto.scss";
@import "generales/_mediaq.scss";



