/*presentacion nosotros*/
.tituloh {
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
    margin-top: 1cm;
    margin-bottom: 2cm;
}
.presentacion-nosotros{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1cm 1cm 2cm 1cm;
    .parrafoh {
    margin-left: 1cm;
    font-size: 1.2rem;
    text-align: center;
    }
}
.carousek {
    width: 800px;
    margin: auto;
    text-shadow: 2px -1px 4px rgba(0,0,0,1);
    font-size: 1.5rem;
    margin-bottom: 0.2cm
}